body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Taskbar {
  border-radius: 50px;
}

.action-buttons button {
  width: 15px !important;
  height: 15px !important;
  border: none;
}

.action-buttons button:hover {
  filter: brightness(1.5);
}

.CLI {
  background-color: black !important;
  color: #4af626;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.command {
  background-color: black;
  color: #4af626;
  border: none;
}

.command:focus {
  outline: none;
}

.ls-list {
  list-style: none;
  float: left;
}

.CLI .response a {
  color: white;
  text-decoration: underline;
}

.CLI .response a:hover {
  color: #0080ff;
}

.TerminalWindow {
  height: 80vh;
}

.container .jumbotron {
  border-radius: 0;
}

.tb-bg {
  background-color: #222222;
}

.tb-close {
  background-color: #EA4F55;
}

.tb-min {
  background-color: #FFB900;
}

.tb-max {
  background-color: #12D146;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

@media (max-width: 575px) {
  .TerminalWindow {
    height: 100vh;
  }
}